body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.oculto {
  display: none;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#quiz {
  margin-top: 20px;
}

.correcta {
  background-color: #a6e6a1; /* verde claro */
  color: #000;
  font-weight: bold;
}

.incorrecta {
  background-color: #f6a6a6; /* rojo claro */
  color: #000;
  font-weight: bold;
}
